---
import Layout from "../components/Layout.astro";
---

<Layout title="Abid Famasya - About (a bit longer)">
  <div class="prose prose-lg max-w-none">
    <h3>tl;dr</h3>
    <div class="text-lg">
      I’m a healthtech CTO, researcher, and indie builder passionate about civic
      tech and small tools that solve boring problems.
    </div>
    <h2>Experience</h2>
    <p>
      I have been working as a CTO at Trustmedis since 2019, a company that
      transitioned from a software house to a healthtech provider specializing
      in health information systems for healthcare providers. We have been
      partnering with <a
        href="https://setkab.go.id/inilah-prosedur-layanan-telemedisin-bagi-pasien-isolasi-mandiri-terkonfirmasi-omicron/"
        >government entities</a
      > and <a
        href="https://news.detik.com/adv-nhl-detikcom/d-6200556/virtu-digilab-national-research-center-fasilitas-penelitian-terbaik-ri"
        >big companies</a
      > to develop digital health technology. My primary role has been to transition
      our project-based system into SaaS products, which now serve millions of patients
      nationwide.
    </p>

    <h2>Education</h2>
    <p>
      I hold a Master’s degree in Informatics from ITS Surabaya, Indonesia, with
      a specialization in natural language processing. As part of my thesis, I
      developed the first <a href="https://huggingface.co/abid/indonesia-bioner"
        >Biomedical Named Entity Recognition (BioNER)</a
      > model in Bahasa Indonesia, designed to identify biomedical entities in free-text
      data. I’ve also conducted research in other areas, including the Internet of
      Underwater Things and network security.
    </p>
    <p>
      I wrangled Jupyter Notebook daily to explore Transformer architectures,
      building on top of libraries like FlairNLP and Transformers, including
      scratch implementations in PyTorch.
    </p>

    <h2>Automation</h2>
    <p>I believe that humans should be the boss of machines.</p>
    <p>
      I build tools under the name <a href="https://automagic.abidf.com"
        >Automagic Systems</a
      >: a personal lab focused on automation of boring tasks. My first product,
      <a href="https://zenfin.app">Zenfin</a>, is a WhatsApp-based personal
      finance tracker that turns casual chats and receipts into clean financial
      insights using LLMs. Automagic explores ideas at the intersection of
      natural language, small tools, and everyday workflows.
    </p>

    <h2>Community</h2>
    <p>
      Beyond my work, I’ve been actively involved in civic and academic
      communities. I contributed to <a href="https://github.com/kawalcovid19"
        >KawalCovid19</a
      >, a grassroots initiative supporting transparent and responsible
      information dissemination during the COVID-19 pandemic, and
      <a href="https://evoina.org">evoina.org</a>, an organization advocating
      for scientific research and evolutionary biology in Indonesia.
    </p>
    <p>
      I also occasionally teach as a guest lecturer, teaching Database Design
      and Health Informatics, where I share industry practices and
      research-backed insights to help students build practical, scalable
      systems in the healthcare domain.
    </p>
    <h2>Links</h2>
    <p>
      My academic research is available on <a
        href="https://scholar.google.com/citations?user=JGNxsqcAAAAJ&hl=en"
        >Google Scholar</a
      >.
    </p>
    <p>
      All my opensource work can be found on <a
        href="https://github.com/famasya">Github</a
      >.
    </p>

    <h2>Contact</h2>
    <p>
      The best way to reach me is via email or Twitter (and yes, I still call it <a
        href="https://twitter.com/famasya">Twitter</a
      >)
    </p>
  </div>
</Layout>
