---
import Layout from "../components/Layout.astro";
---

<Layout title="Abid Famasya">
	<div class="prose prose-lg max-w-none mt-8">
		<p>
			I’m a technology enthusiast on a mission to use tech for the benefits of
			living beings.
		</p>

		<p>
			Currently, I lead computer nerds as the CTO of Trustmedis, a health-tech
			company that helps healthcare providers to serve millions of patients
			across Indonesia.
		</p>

		<p>
			Reach me out on <a href="https://twitter.com/famasya">Twitter</a>, <a
				href="https://linkedin.com/in/abid-famasya">Linkedin</a
			>, or just drop me an email at contact@abidf.com
		</p>
	</div>
</Layout>
