@import "tailwindcss";
@import "@fontsource-variable/bricolage-grotesque";
@import "@fontsource-variable/noto-sans-jp";

:root {
  --font-title: "Bricolage Grotesque Variable", sans-serif;
}

.title {
  font-family: var(--font-title);
}

body {
  font-family: "Noto Sans JP Variable", sans-serif;
}

body p {
  @apply mt-2 leading-relaxed;
}

p a {
  @apply text-amber-600 hover:underline;
}


#navigation a[aria-current="page"] {
  @apply font-bold;
}

.prose h1 {
  font-family: var(--font-title);
  @apply text-2xl font-semibold mt-6 border-b border-gray-200 hover:bg-gray-100;
}

.prose h2 {
  font-family: var(--font-title);
  @apply text-xl font-semibold mt-6 border-b border-gray-200 hover:bg-gray-100;
}

.prose h3 {
  font-family: var(--font-title);
  @apply text-lg font-semibold mt-4;
}

.prose h4 {
  font-family: var(--font-title);
  @apply text-base font-semibold mt-4;
}

.prose p {
  @apply my-4;
}

.prose ol {
  @apply list-decimal list-inside;
}

.prose ul {
  @apply list-disc list-inside;
}

.prose li,
.prose ol li,
.prose ul li {
  @apply mt-1 ml-2;
}
